body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color: pink;
    color: black;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header {
    display: flex;
    /* flex-direction: row;
    align-items: center; */
    border: 1px solid black;
}

header ul .navbar {
    background-color: azure;
}
